- pipeline = local_assigns.fetch(:pipeline)
- project = local_assigns.fetch(:project)

- if pipeline.expose_security_dashboard?
  = gl_tab_link_to _("Security"), security_project_pipeline_path(project, pipeline), { item_active: false, tab_class: 'js-security-tab-link', class: 'security-tab gl-shadow-none!', data: { target: '#js-tab-security', action: 'security', toggle: 'tab', qa_selector: 'security_tab' } }

- if pipeline.expose_license_scanning_data?
  = gl_tab_link_to licenses_project_pipeline_path(project, pipeline), { item_active: false, tab_class: 'js-licenses-tab-link', class: 'licenses-tab gl-shadow-none!', data: { target: '#js-tab-licenses', action: 'licenses', toggle: 'tab', qa_selector: 'licenses_tab' } } do
    = _("Licenses")
    = gl_tab_counter_badge('', { class: 'js-licenses-counter hidden', data: { qa_selector: 'licenses_counter' } })

- if project.feature_available?(:full_codequality_report) && pipeline.downloadable_path_for_report_type(:codequality)
  = gl_tab_link_to _('Code Quality'), codequality_report_project_pipeline_path(project, pipeline), { item_active: false, tab_class: 'js-codequality-tab-link', class: 'codequality-tab gl-shadow-none!', data: { target: '#js-tab-codequality', action: 'codequality_report', toggle: 'tab', 'track-action': 'click_button', 'track-label': 'get_codequality_report' } }
